fieldset {
    margin: 5px;
}

form {
    margin-bottom: 5px;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

h2 {
    margin: 0;
}

header,
footer {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    text-align: center;
}

li {
    display: inline-block;
}

ol, ul {
    margin: 0;
    padding: 0;
}

section {
    background: none repeat scroll 0 0 #FAFAFA;
    width: 900px;
    margin: auto;
    padding: 20px;
}

.contact .label,
.contact .content {
    margin: 0;
}

.content {
    float: right;
    min-width: 200px;
    margin-left: 5px;
}

.content,
.label {
    margin-top: 5px;
}

.inline-block {
    display: inline-block;
}

.center {
    display: table;
    margin: auto;
}

.to-the-list-link {
    font-size: 1.5em;
    font-style: italic;
}

.date,
.period-date {
    margin: 0;
}

.label {
    float: left;
    min-width: 130px;
}

.name .label,
.website .label,
.period-button .label,
.delete-button .label {
    font-weight: bold;
}

.left {
    float: left;
}

.list-caption {
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
}

.list-item {
    font-size: 22px;
}

.list-item td {
    border: 1px solid #000000;
    padding: 10px;
}

.organization-link {
    padding-left: 30px;
}

.org-item {
    margin-bottom: 20px;
}

.padding-left {
    padding-left: 40px;
}

.period {
    padding-left: 20px;
}

.period-date-view {
    padding-left: 40px;
    width: 120px;
    font-weight: bold;
}

.period-title {
    font-weight: bold;
}

.resume-list {
    border-collapse: collapse;
    margin: auto;
}

.submit {
    margin-top: 15px;
}

.section-name {
    margin-top: 10px;
    margin-bottom: 0;
}

.table {
    display: table;
}

.text-container,
.text-list {
    margin-top: 15px;
    margin-bottom: 15px;
}

.title-cell {
    margin-bottom: 5px;
}
